.header {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	-webkit-box-shadow: -2px 7px 8px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -2px 7px 8px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 7px 8px 2px rgba(0, 0, 0, 0.2);
}
