.nav-list {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.nav-list__item {
	transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {
		transform: translateY(-2px);
	}
}
.nav-list__link {
	font-size: 1.6rem;
	text-decoration: none;
	color: #000;
}
